/*background-color: #2d53fc;
background-color: #2d31fc;

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/

body {
	text-align: center;
	line-height: 30px;
	background-color: rgb(255, 255, 0);
	position: relative;
}

.navbar {
	margin-top: 10px;
	color: rgb(255, 255, 0);
}

#rulesButton {
	display: inline-block;
	margin-top: 25%;
	font-size: 20px;
	border: solid 2px;
	border-color: rgb(255, 255, 0);
	color: rgb(255, 255, 0);
	padding: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}

h1 {
	font-size: 40px;
}

header {
	width: 20%;
	height: 720px;
	background-color: rgb(0, 0, 0);
	float: left;
}

#bodyContainer {
	float: right;
	width: 80%;
	height: 720px;
	background-color: rgb(255, 255, 0);
}

.rules-content {
	color: rgb(255, 255, 0);
	font-size: 2vw;
	line-height: 1.6;
	margin-top: 10%;
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%);
}

.timer {
	float: right;
	margin-right: 10px;
	font-size: 20px;
	border-style: double;
	border-color: rgb(0, 0, 0);
	border-width: 5px;
	border-radius: 5px;
	padding: 3px;
}

#questionOutput {
	font-size: 40px;
	margin: 10px;
}

#inputSect {
	width: 60%;
	margin-top: 15%;
	height: 200px;
}

#input input,
#questionOutput {
	height: 170px;
	outline: none;
	background-color: rgb(255, 255, 0);
	border-style: dotted;
	border-width: 7px;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 20px;
	outline: none;
	margin-left: 35%;
	transform: translate(-50%);
}

input::placeholder {
	color: black;
	font-size: 20px;
}

#inputSect button {
	height: 30px;
	border-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	border-style: dotted;
	font-size: 17px;
	width: 30%;
	background-color: rgb(255, 255, 0);
	margin-top: 5px;
	padding: 3px;
	outline: none;
}

.answers {
	width: 35%;
	height: 200px;
	background-color: chartreuse;
	margin: 5px;
	margin-left: 50%;
	display: flex;
}

form {
	display: none;
}

#opening {
	display: none;
}

.game-container {
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%);
}
