    <h1>Submit those questions!</h1>
<div class="row">
    <form id="questionsInput" name="questionsInput" method="questionsInput" action="questionsInput">
        <label for="question">Question</label>
        <input class="text" id="questions" name="question" type="text" />
        <label for="answer">Answer</label>
        <input class="text" id="answers" name="answer" type="text" />
        <label for="difficulty">Difficulty</label>
        <input class="text" id="difficulty" name="difficulty" type="number" />
        <input class="btn" id="input" type="submit" value="questions Input" />
    </form>

</div>
{{!-- <div class="text-center">
<a href="/questionsInput" class="btn">??</a>
</div> --}}
